@media only screen and (max-width:500px){
    table#cart_summary, table#cart_summary thead, table#cart_summary tbody, table#cart_summary th, table#cart_summary td, table#cart_summary tr {
        display: block;
    }
    table#cart_summary thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    table#cart_summary tbody td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        width: auto !important;
        text-align: left !important;
    }

    table#cart_summary input.cart_quantity_input {
        float: none;
    }

    div#cart_quantity_button {
        float: none!important;
    }
    table#cart_summary tbody td:last-child {
        border-bottom: 1px solid #ccc;
    }

    #cart_summary #tfoot_static > tr.summary-line td, #opc_checkout #cart_summary #tfoot_static > tr.summary-line > td:nth-child(2) {
        text-align: right !important;
        padding-right: 20px !important;
    }

    table#cart_summary td.cart_voucher {
        border-bottom: none;
        padding-left: 0!important;
    }

    #tfoot_static .cart_voucher fieldset #discount_name {
        float: none;
    }

    table#cart_summary #total_price_container {
        border-bottom: 1px solid #ccc;
    }

/*    table#cart_summary div#cart_quantity_button {
        display: none;
    }*/

    table#cart_summary td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    table#cart_summary .cart_delete {
        display: none;
    }
    
    #new_account_form p.text label, #new_account_form p.password label, #new_account_form p.select label, #new_account_form p.textarea label, #new_account_form p.radio label:first-child {
        text-align: left;
    }
    
    #new_account_form p.checkbox input {
        margin-left: 0;
    }
    #tfoot_static, #cart_summary {
        display: block !important;
    }

    #cart_summary tfoot tr {
        clear: both;
    }
    #cart_summary #tfoot_static > tr.summary-line > td:nth-child(1) {
        display: block;
        float: left !important;
        padding: 3px !important;
        text-align: right;
        width: 60% !important;
        z-index: 20;
    }
    #cart_summary #tfoot_static > tr.summary-line > td:nth-child(2) {
        display: block;
        padding: 3px !important;
    }

    #tfoot_static, #cart_summary {
        display: block;
    }
}