@media only screen and (min-width:1200px) {
    #order-opc #center_column {
        width: auto;
    }

    #order-opc #right_column, #order-opc #left_column {
        display: none
    }

    #opc_checkout #opc_new_account {
        float: left;
        width: 410px;
        margin-right: 15px;
    }

    #order-detail-content, div#HOOK_SHOPPING_CART {
        /*width: 557px;*/
        width: auto;
        margin-left: 425px;
    }

    #offer_password, #above_confirmation_msg {
        margin-left: 425px;
    }

    #new_account_form p.text label,
    #new_account_form p.password label,
    #new_account_form p.select label,
    #new_account_form p.radio label:first-child,
    #new_account_form p.textarea label {
        width: 120px;
        padding: 5px 4px 5px 11px;
    }

    #new_account_form p.text input,
    #new_account_form p.password input,
    #new_account_form p.select input {
        width: 205px;
        margin-left: 10px;
    }

    #new_account_form p.select select {
        width: 209px;
        margin-left: 10px;
    }


    #new_account_form p.checkbox input {
        margin-left: 10px;
    }

    #new_account_form p.select span {
        width: 0px;
    }

    form.std fieldset {
        clear: none !important;
    }

    form.std h3, #new_account_form.std h3 {
        margin-bottom: 6px;
    }

    p.checkbox {
        padding-bottom: 9px;
    }

    #login_form label {
        clear: none;
    }

    #cart_summary {
        border: 2px solid rgb(95, 95, 95);
    }

    #new_account_form p.textarea textarea {
        margin-left: 10px;
        width: 215px;
    }

    #order-opc #opc_account_form #new_account_form p.select select#days {
        width: 45px;
        margin-right: 0;
    }

    #order-opc #opc_account_form #new_account_form p.select select#months {
        width: 95px;
        margin-right: 0;
    }

    #order-opc #opc_account_form #new_account_form p.select select#years {
        width: 62px;
        margin-right: 0;
    }

    #payments_section, form#carriers_section {
        margin-left: 425px;
    }

    #paymentMethodsTable label {
        text-align: left;
        width: 100%;
    }

    form#new_account_form label, form.std p span {
        float: none !important;
    }

    form.std {
        clear: none !important;
    }

    #order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
        width: auto;
    }

    .delivery_option_price {
        white-space: nowrap;
    }
}