<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>appagebuilder</name>
	<displayName><![CDATA[Apollo Page Builder]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Apollo Page Builder build content for your site.]]></description>
	<author><![CDATA[ApolloTheme]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>