/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.showmenu {
  font-size: 26px;
  color: black;
  position: relative;
  top: 21px;
  cursor: pointer;
  display: none;
}

#topbar #leo_block_top.popup-over {
  margin-right: 0;
}
.rtl #topbar #leo_block_top.popup-over {
  margin-left: 0;
  margin-right: inherit;
}
#topbar #leo_block_top.popup-over .popup-title {
  padding: 0 11px 0 0px;
}
#topbar #leo_block_top.popup-over .popup-title:before {
  display: none;
}

@media (min-width: 991px) {
  .abs_logo {
    position: absolute !important;
    top: -15px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    width: 23%!important;
    text-align: center !important;
    z-index: 9 !important;
  }
}
@media (min-width: 769px) {
  #topbar .container {
    background-color: white;
    color: black;
  }
  #topbar .abs-topbar {
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: white;
    color: black;
    z-index: 99;
  }
  .rtl #topbar .abs-topbar {
    left: 15px;
    right: auto;
  }
  #topbar p #click_show_search {
    color: black;
  }
  #topbar p #click_show_search:hover {
    color: #f75253;
  }
  #topbar .header_user_info {
    margin: 0px 11px;
  }
  #topbar .header_user_info li:first-child a {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }
  #topbar .header_user_info li a {
    border: none;
    padding: 0px 11px;
    color: black;
  }
  #topbar .header_user_info li a:hover {
    color: #f75253;
  }
  #topbar .header_user_info li.liwishlist {
    display: none;
  }
  #topbar #cart .heading a {
    color: black;
  }
  #topbar #cart .heading a:hover {
    color: #f75253;
  }
  #topbar #cart .title-cart:before {
    color: black;
  }
  #topbar #cart .title-cart:before:hover {
    color: #f75253;
  }

  .top {
    padding: 30px 0px 40px 0;
  }

  .showmenu {
    display: block;
  }

  #leo-megamenu {
    position: fixed !important;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #333333;
    -webkit-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .rtl #leo-megamenu {
    right: 0;
    left: auto;
  }
  #leo-megamenu.active-menu {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  #leo-megamenu .btn-close {
    display: block !important;
    position: absolute;
    right: 15px;
    top: 20px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
  }

  .leo-megamenu .navbar-nav {
    float: none;
  }
  .leo-megamenu .navbar-nav > li {
    float: none;
    clear: both;
  }
  .leo-megamenu .navbar-nav > li.aligned-fullwidth {
    position: relative;
  }
  .leo-megamenu .navbar-nav > li.aligned-fullwidth > .dropdown-menu {
    min-width: 700px !important;
  }
  .leo-megamenu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #cccccc;
  }
  .leo-megamenu .navbar-nav > li > a:hover {
    color: #f75253;
  }
  .leo-megamenu .navbar-nav > li .dropdown-menu:before {
    display: none;
  }
  .leo-megamenu .navbar-nav > li.home > a {
    padding-left: 25px;
  }
  .leo-megamenu .dropdown:hover > .dropdown-menu {
    top: 0;
    left: 100%;
  }
  .rtl .leo-megamenu .dropdown:hover > .dropdown-menu {
    right: 100%;
    left: auto;
  }

  #leo-top-menu {
    padding: 0px;
  }

  .rtl #leo-megamenu {
    -webkit-transform: translate(300px, 0px);
    -ms-transform: translate(300px, 0px);
    transform: translate(300px, 0px);
  }
  .rtl #leo-megamenu.active-menu {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@media (max-width: 1024px) {
  .leo-megamenu .navbar-nav > li > a {
    padding: 10px 15px !important;
  }
  .leo-megamenu .navbar-nav > li.home > a {
    padding: 10px 15px !important;
  }
}
@media (max-width: 767px) {
  .header_user_info {
    float: left !important;
  }
}
@media (max-width: 767px) {
  .rtl .header_user_info {
    float: right !important;
  }
}
