.carousel-control{
	z-index: 99;
	top: -25px;
}
.carousel-control.left,
.carousel-control.right{
	background: none;
	color: #000;
}
.widget .col-sp-1 { width: 8.33333%; }
.widget .col-sp-2 { width: 16.66667%; }
.widget .col-sp-3 { width: 25%; }
.widget .col-sp-4 { width: 33.33333%; }
.widget .col-sp-5 { width: 41.66667%; }
.widget .col-sp-6 { width: 50%; }
.widget .col-sp-7 { width: 58.33333%; }
.widget .col-sp-8 { width: 66.66667%; }
.widget .col-sp-9 { width: 75%; }
.widget .col-sp-10 { width: 83.33333%; }
.widget .col-sp-11 { width: 91.66667%; }
.widget .col-sp-12 { width: 100%; }