@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/
// @media (min-width: $screen-md){
// 	.first-in-line{
// 		clear: both;
// 	}	
// }
// @media (max-width: $screen-md - 1){
// 	.first-in-line{
// 		clear: none;
// 	}	
// 	.first-item-of-tablet-line{
// 		clear: both;
// 	}
// }
// @media (max-width: $screen-xs){
// 	.first-item-of-tablet-line{
// 		clear: none;
// 	}
// 	.first-in-line{
// 		clear: none;
// 	}	
// 	.first-item-of-mobile-line{
// 		clear: both;
// 	}
// }


@media (min-width: $screen-md) { // min 991px
	#subcategories .row > div:nth-child(4n+1),
	.first-in-line {
		clear: both;
	}
}
@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
	#subcategories .row > div:nth-child(2n+1),
	.first-item-of-tablet-line {
		clear: both;
	}
}

#blockpack {
	ul {
		>li {
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/
.product_list{
	.nopadding{
		padding: 0;
	}
	.nomargin{
		margin: 0;
	}
	&.nomargin{
		margin: 0;
	}
	@include box-sizing(border-box);
	.widget &{
	    border-right: none;
	    border-left: none;
	    .product-block{
	    	border-bottom: none
	    }
	    .row{
	    	&:last-child{
	    		border-bottom: none;
	    	}
	    }
	}
	.last-in-line .product-block,
	.product_block:nth-child(4n) .product-block{
		border-right: none;
	}

	.color-list-container {
		// display: $product-color-display;
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
}
.product_list.list {
	.product-block{
		.left-block{
			.functional-buttons{
			display: none;
			}
		}
		border: 1px solid $border-color;
		.functional-buttons{
			@include rtl-left(0);
			top: 10px; 
			position: relative;
			width: 300px;
			.btn{bottom: 0;}
		}
		.product-meta{@include rtl-text-align-left();}
		&:hover{
			.product-meta{
				background: none;
			}
		}
	}
	
	> .ajax_block_product {
		.left-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}
		}
		.product-image-container {
			@media (max-width: $screen-xs - 1) { // max 479px
				max-width: 290px;
				margin: 0 auto;
			}
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						// display: block;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}
.ajax_block_product{
	margin-bottom: 20px;
}
/*******************************************************
Product list(Index page) Styles 
********************************************************/

/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}