@import "compass";
@import "theme_variables";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/rtl/grid";
// Utility classes
@import "bootstrap/rtl/utilities";
@import "bootstrap/rtl/responsive-utilities";

/********************************************************
			Right to Left Styles
********************************************************/

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}

// paneltool

.panelbutton {
    -webkit-box-shadow: -3px 1px 2px #888888;
    box-shadow: -3px 1px 2px #888888;
 }
.fancybox-margin {margin-right: 0px!important;}

.editortool .label-customize {
    background-image: url('#{$image-theme-base-path}label_customize-1.png');
}
.editortool .label-customize:hover {
    background-position: 0 -111px;
}
.block .list-block li {
	a {
		&:before {
			content: "\f104";
		}
	}
}
.accessories-block ul li{float: right !important;}