.gallery-carousel{
    position:relative;
}

.price {        
    color: $product-price-color;           
    font-size: $font-size-base + 4;   
}
.price-old, .old-price {
	color: $product-price-old-color;
	text-decoration: line-through;        
	font-size: $font-size-base + 1;
}
.price-percent-reduction{
    color: $theme-color-default ;
    padding: 3px 5px;
    @include border-radius(50%);
    border:1px solid $theme-color-default ;

}
    

.#{$products-row-selector}{
    position:relative;
    .#{$products-col-selector}{
        border-right:$product-container-border;
        padding: $product-content-padding;
        &:last-child{
            border-right:none;
        }
        &:nth-child(1){
            border-right:$product-container-border;
        }
    }
}

/* product style */
.product-block{
    img{margin: auto;}
    //sidebar
    .sidebar &{
        .product-rating, .norating,
        .product-desc,
        .content_price,
        .name{
            margin-bottom: 0px;
        }

    }
    //end siderbar
    position:relative;
    background-color: $product-content-bg;
    margin: 0;
    // rating  
    .nb-comments{
      display: none;
    }
    .star_content{
        display: inline-block;
        padding: 5px 0px;
        background: transparent;
    }
    // end rating

   .price{
        margin-bottom: $product-info-margin;
   }
   .content_price{
        margin-bottom: $product-info-margin;
   }
   .action{      
        @include clearfix();  
        position: absolute;
        @include rtl-right(0);
        top: -33px;
        width: 100%;
        z-index: 5;
        & > div{
            float: $product-float;
            width:20%;
            &:first-child{
                width:60%;
            }
            a span{
                 display: none;      
            }
            & > * {
                width: 100%;
            }
        }               
    }
   
    .product-desc{
        margin-bottom: $product-info-margin;
        height: $product-desc-height;
        overflow: hidden;
        font-style: italic;
    }
    .product-rating, .norating { 
        min-height: 25px;
        font-size: $product-rating-font-size;
    }

    .name{
        text-transform: none; 
        line-height: $product-name-line-height;     
        margin-bottom: $product-info-margin;    
        margin-top: 0;       
        a {
            color: $product-name-color;
            font-size: $product-name-font-size;
            font-family: $product-name-font-family;        
            text-decoration: none;
            font-weight: 600;
            @include inline-block();                                       
            &:hover{
                color: $product-name-hover-color;
            }
        }
    }
    .functional-compare{
        margin-bottom: 10px;
        .compare {
            a {
                &:before {
                    content: "\f096";
                    display: inline-block;
                    font-family: $font-icon;
                    @include rtl-margin-right(3px);
                    font-size: $font-size-base + 2;
                    }
                    &.checked {
                    &:before {
                    content: "\f046";
                    }
                }
            }
        }
    }
    .image-gallery{
        border:solid 4px $product-gallery-border-color;

        position:absolute;
        top:0;
        @include rtl-left(-80px);
    
        display: none;
        .product-image{
            width: 75px;
            overflow: hidden;
            cursor:hand;cursor:pointer
        }
        .arrow {
            border-bottom: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid $product-gallery-border-color;
            border-top: 5px solid rgba(0, 0, 0, 0);
            margin: -5px 0;
            position: absolute;
            @include rtl-right(-9px);
            top: 50%;
        }
    }
    .left-block{
        position: relative;     
        overflow: hidden;
    }
    .image{
        margin-bottom: $product-info-margin;   
        border: $product-image-border;
        text-align: center;
        @include rounded-corners ($product-image-radius);
        padding: $product-content-padding;
        /*swap image*/
        .hover-image {
            position: absolute;
            background:red;
            padding:30px;
            text-align: center;
            top: 0;
            width: 100%;
            @include rtl-left(0);
            @include transition (all 0.4s ease-in-out);
            visibility: hidden;
            opacity: 0;
        }

        &:hover {
            .hover-image {
                opacity: 1;
                visibility: visible;
            }
        }
        
    }

    .product-meta{        
        position: relative;
		padding: $product-content-padding;
    }
    .product-zoom, .pav-colorbox {
        @include size(30px,30px);
        font-size: $font-size-base + 1;  
        @include transition(all 0.3s ease 0s);
        &:hover{
            background-color: $theme-color-default;
            color: $product-button-hover-color;
        }
    } 
    .product-zoom{ 
        z-index: 10;            
        color: $product-zoom-color;            
        background-color: $product-zoom-bg;
        line-height: 30px;
        @include rtl-right(50%);                     
        text-align: center; 
    }
    .#{$app-brand-prefix}-atchover{
        @include rtl-left(50%);    
    }
    .product_list &{
        overflow: hidden;    
        &:hover {
            .product-meta {

            }
            .image-gallery{
                display: block;
                z-index: 9999;
            }
            
        }
    }
    .availability {
        display: $product-warning-display;
        margin-bottom: $product-info-margin;    
        span {
            padding:  7px 15px;
            &.available-now {
                background: $product-warning-avariable-now-bg;
                border: 1px solid darken( $product-warning-avariable-now-bg, 10% );
                color:$product-warning-avariable-now-color;
            }
            &.out-of-stock{
                background: $product-warning-outofstock-bg;
                border: 1px solid darken( $product-warning-outofstock-bg, 10% );
                color:$product-warning-outofstock-color;
            }
        }
    }

    .product-flags{
        display: $product-warning-display;
        margin-bottom: $product-info-margin;    
    }
}
.availability{ 
    .out-of-stock { 
        font-size: $product-stock-font-size;   
        background: $product-instock-bg;
        color: $product-instock-color ; 
    }
    .available-now{
        font-size: $product-stock-font-size;   
        background: $product-outofstock-bg;
        color: $product-outofstock-color  
    }
}



.product-label { 
    color: $product-label-color;
    font-size: $product-label-font-size;
    background-color: $product-label-new-bg;
    text-align: center;        
    z-index: 3;  
    position: absolute;
    padding:4px;
    min-height: 28px;
    min-width: 45px;
    display: block;
    @include border-radius(0px 0px 20px 20px);
    @include box-shadow(0px 1px 0px rgba(0,0,0,0.5));
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    text-transform: uppercase;
    &.product-label-new, &.new-box{
        @include label-variant($product-label-new-bg);
        @include rtl-left(10px);
        top: 0px;

    }

    &.product-label-special, &.sale-box{ 
        top: 0px; 
        @include label-variant($product-label-special-bg); 
        @include rtl-right(10px);
        background-color: #f94b4b;
    }
    &.sale-percent-box{
       @include label-variant($product-label-special-bg);
        @include rtl-right(0);
       @include rtl-left(inherit);
       bottom:0;
    }
}

.ajax_add_to_cart_button{
    background: $button-addtocart-bg;
    color: $button-addtocart-color;
    font-size: $button-addtocart-font-size;
    font-family: $button-addtocart-font-family;
    border: 1px solid $button-addtocart-border;
    &:hover{
        color: $button-addtocart-hover-color;
        background: $button-addtocart-bg-hover;
        border: 1px solid $button-addtocart-border-2;
    }

}
.product_list.grid{
    .left-block{
        border: 1px solid $border-color;
    }
}
.tab-content{
    padding: 20px 0;
}