includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	ignoreErrors:
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array<int, string> given.#'
