/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*******************************************************************/
/* Show Multiple Product Image */
.thumbs_list_frame li a {
  position: relative;
}
.thumbs_list_frame li a.show:after {
  position: absolute;
  right: -2px;
  width: 10px;
  height: 10px;
  background: red;
}
.rtl .thumbs_list_frame li a.show:after {
  left: -2px;
  right: auto;
}

.leo-more-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  border-width: 1px 0 1px 1px;
  border-style: solid none solid solid;
  border-color: #e5e5e5;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  z-index: 4000;
}
.rtl .leo-more-info {
  right: 0;
  left: auto;
}
.rtl .leo-more-info {
  border-width: 1px 1px 1px 0;
}
.rtl .leo-more-info {
  border-style: solid solid solid none;
}

.product_list .thumbs_list {
  margin-top: 10px;
}

.product_list.list .leo-more-info .col-1 {
  margin-top: 10px;
}
.product_list.list .thumbs_list {
  height: 165px;
  margin-top: 5px;
  margin-bottom: 0;
}
.product_list.list .left-block .quick-view {
  top: 35%;
}

.ie8 .product-container .leo-more-info {
  z-index: -100;
}
.ie8 .ajax_block_product:hover .leo-more-info {
  z-index: 4000;
}

.ajax_block_product:hover .leo-more-info {
  left: -79px;
  padding: 0 5px;
  width: 90px;
  /* display:block; */
  opacity: 1;
  filter: alpha(opacity=100);
}
.rtl .ajax_block_product:hover .leo-more-info {
  right: -79px;
  left: auto;
}

.leo-more-over {
  position: relative;
  z-index: 0;
}

.leo-more-image {
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  top: 0;
  position: absolute;
}
.rtl .leo-more-image {
  right: 0;
  left: auto;
}

#index .leo-more-info .col-1 {
  width: 80px;
  margin: 5px 0;
}

.leo-more-info .col-1 {
  width: 80px;
  margin: 20px 0 0 0;
}
.leo-more-info .big_image {
  padding-bottom: 5px;
}
.leo-more-info .wrapper-hover {
  padding: 3px 9px 12px;
}
.leo-more-info li {
  list-style-type: none;
}
.leo-more-info .view_scroll_left {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.leo-more-info .view_scroll_right {
  display: block;
  font-size: 18px;
}

.thumbs_list {
  overflow: hidden;
  width: 80px;
  height: 249px;
  margin-top: 10px;
}
.thumbs_list ul.thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
}
.rtl .thumbs_list ul.thumbs_list_frame {
  padding-right: 0;
  padding-left: inherit;
}
.thumbs_list li {
  cursor: pointer;
  float: left;
  height: 83px;
  width: 80px;
}
.rtl .thumbs_list li {
  float: right;
}
.thumbs_list li a {
  border: 1px solid #EDEDED !important;
  display: block;
  margin: 0 5px;
  text-align: center;
}

#product_comparison .product-container:hover .center_block .product_image img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.product-container .product-additional {
  bottom: -500px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.product-container:hover .product-additional {
  bottom: 0px;
}
