<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <version value="1.4">
        <ccc available="true" />
        <guest_checkout available="true" />
        <one_page_checkout available="true" />
        <store_locator available="true" />
    </version>
    <theme_key>leo_python</theme_key>
        <modules>
            <module>
                <name>leotempcp</name>
                <fields>
                    <field>
                        <table_name>leohook</table_name>
                        <string_column>theme,name_hook</string_column>
                        <searchField>id_shop</searchField>
                    </field>
                    <field>
                        <objectMName>LeoTempcpWidget</objectMName>
                        <objectMFile>widget.php</objectMFile>
                        <searchField>id_shop</searchField>
                    </field>
                </fields>
                <config_prefix>leo_python</config_prefix>
                <table_prefix>leowidgets,leohook</table_prefix>
            </module>
            <module>
                <name>appagebuilder</name>
                <fields>
                    <field>
                        <objectMName>ApPageBuilderProfilesModel</objectMName>
                        <objectMFile>ApPageBuilderProfilesModel.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <field>
                            <objectMName>ApPageBuilderPositionsModel</objectMName>
                            <objectMFile>ApPageBuilderPositionsModel.php</objectMFile>
                            <searchField>id_appagebuilder_positions</searchField>
                            <field>
                                <objectMName>ApPageBuilderModel</objectMName>
                                <objectMFile>ApPageBuilderModel.php</objectMFile>
                                <searchField>id_appagebuilder_positions</searchField>
                            </field>
                        </field>
                    </field>
                    <field>
                        <objectMName>ApPageBuilderProductsModel</objectMName>
                        <objectMFile>ApPageBuilderProductsModel.php</objectMFile>
                        <searchField>id_shop</searchField>
                    </field>
                </fields>
                <config_prefix>APPAGEBUILDER</config_prefix>
                <table_prefix>appagebuilder</table_prefix>
            </module>
            <module>
                <name>leomanagewidgets</name>
                <fields>
                    <field>
                        <objectMName>LeoManageWidgetGroup</objectMName>
                        <objectMFile>LeoManageWidgetGroup.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <field>
                            <objectMName>LeoManageWidgetColumn</objectMName>
                            <objectMFile>LeoManageWidgetColumn.php</objectMFile>
                            <searchField>id_group</searchField>
                            <field>
                                <objectMName>LeoManagerWidgetContent</objectMName>
                                <objectMFile>LeoManagerWidgetContent.php</objectMFile>
                                <searchField>id_column</searchField>
                            </field>
                        </field>
                    </field>
                </fields>
                <table_prefix>leomanagewidget</table_prefix>
            </module>    
            <module>
                <name>leosliderlayer</name>
                <fields>
                    <field>
                        <objectMName>LeoSliderGroup</objectMName>
                        <objectMFile>grouplayer.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <field>
                            <objectMName>SliderLayer</objectMName>
                            <objectMFile>leosliderlayer.php</objectMFile>
                            <searchField>id_group</searchField>
                        </field>
                    </field>
                </fields>
                <table_prefix>leosliderlayer</table_prefix>
            </module>
            <module>
                <name>leoslideshow</name>
                <fields>
                    <field>
                        <objectMName>LeoSlideshowGroup</objectMName>
                        <objectMFile>LeoSlideshowGroup.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <field>
                            <objectMName>LeoSlideshowSlide</objectMName>
                            <objectMFile>LeoSlideshowSlide.php</objectMFile>
                            <searchField>id_group</searchField>
                        </field>
                    </field>
                </fields>
                <table_prefix>leoslideshow</table_prefix>
            </module>
            <module>
                <name>leoblog</name>
                <fields>
                    <field>
                        <objectMName>Leoblogcat</objectMName>
                        <objectMFile>leoblogcat.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <treeField>id_parent</treeField>
                        <field>
                            <objectMName>LeoBlogBlog</objectMName>
                            <objectMFile>blog.php</objectMFile>
                            <searchField>id_leoblogcat</searchField>
                            <field>
                                <objectMName>LeoBlogComment</objectMName>
                                <objectMFile>comment.php</objectMFile>
                                <searchField>id_leoblog_blog</searchField>
                            </field>
                        </field>
                    </field>
                </fields>
                <table_prefix>leoblog</table_prefix>
                <config_prefix>LEOBLG</config_prefix>
            </module>
			<module>
                <name>blockleoblogs</name>
                <config_prefix>BLEOBLOGS</config_prefix>
            </module>
            <module>
                <name>leobootstrapmenu</name>
                <fields>
                    <field>
                        <objectMName>Btmegamenu</objectMName>
                        <objectMFile>Btmegamenu.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <treeField>id_parent</treeField>
                    </field>
                </fields>
                <table_prefix>btmegamenu</table_prefix>
                <config_prefix>LEO_MEGAMENU</config_prefix>
            </module>
            <module>
                <name>leomenusidebar</name>
                <fields>
                    <field>
                        <objectMName>Sbmegamenu</objectMName>
                        <objectMFile>Sbmegamenu.php</objectMFile>
                        <searchField>id_shop</searchField>
                        <treeField>id_parent</treeField>
                    </field>
                </fields>
                <table_prefix>sbmegamenu</table_prefix>
                <config_prefix>LEO_MENUSIDEBAR</config_prefix>
            </module>
            <module>
                <name>leoproductsearch</name>
            </module>
            <module>
                <name>leocustomajax</name>
                <config_prefix>leo_customajax</config_prefix>
            </module>
        </modules>
</theme>
