@import "compass";
@import "theme_variables";


.header_user_info{
	.header_info{
		@include rtl-margin-right(15px);
		line-height: 38px;
	}
	.popup-title{
	  	display: none;
	}
	.popup-content{
		@include rtl-left(auto);
		@include rtl-right(0);
	}
}
#topbar{
	.header_user_info{
		.popup-content{
			@include rtl-left(auto);
			@include rtl-right(0);
		}
		ul{
			margin-bottom: 0px;
		}
		.popup-title{
			a{
				color: $white;
				&:hover{
					color: $theme-color-default;
				}
			}
		}

		.header_info{
			a{
				color: $white;
				&:hover{
					color: $theme-color-default;
				}
			}
		}
		li{
			display: block;
			.fa{
				@include rtl-margin-right(6px);
			}
			a{
				padding: 0;
				margin: 0px;
			}
		}
	}
}
@media (min-width: 991px) { 
	#topbar{
		.header_user_info{
			margin: 0 20px;
			li{
				@include rtl-float-left();
				a{
					padding: 0px 20px;
					@include rtl-border-right(1px solid #6f7074);
				}
				&:first-child{
					a{
						@include rtl-border-left(1px solid #6f7074);
					}
				}
			}
		}
	}
}